main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

header {
  width: calc(100% - 180px);
}

h2 {
  text-align: center;
}

section {
  margin-left: auto;
  width: calc(100% - 180px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  header, section {
    margin: 0;
    width: 100%;
  }
}